version: "3.8"

services:
  backend:
    build:
      context: ./back
    image: server-watcher-back:local
    container_name: server-watcher-back
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - PORT=3000
    volumes:
      - ./database:/app/database
    restart: unless-stopped
